
main
{
  padding:56px 0px 30px 0px!important;
}
html{
  display: flex;
  flex-flow: row nowrap;  
  justify-content: center;
  align-content: center;
  align-items: center;
  height:100%;
  margin: 0;
  padding: 0;
  background:#eeeeee;
}
body {
  margin: 0;
  flex: 0 1 auto;
  align-self: auto;
   
  width: 100%;
  /* max-width: 500px; */
  height: 100%;
 
 
}
/* .v-application--is-ltr .v-list-item__action:first-child, .v-application--is-ltr .v-list-item__icon:first-child {
  margin-right: 15px;
} */
.iconsize {
  width: 20px;
}
.iconsize {
    width: 20px;
  }
  .secondary-value {
    font-size: 10px;
  }  

 .alternate-rows table {
     
    border-collapse: collapse;
    width: 100%;
  }
  body{
    font-size: 12px;
  }

  .v-expansion-panel--active > .v-expansion-panel-header {
    min-height: 41px;
    background: #DDD;
}
/* .v-data-table > .v-data-table__wrapper .v-data-table__mobile-row
{
  border-bottom: 1px solid #f7e3e3;
  
} */
table
{
    line-height: 25px;;
}
.table-second-cell-right-align table
{
    width:100%;
}
.table-second-cell-right-align table  td:last-child { text-align: right; }
.custom-chip1 .chip-overflow{
  max-width: 150px;
  padding: 2px 10px;
}


.custom-chip1 .v-chip__content {
display: inline-block !important;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
position: relative;
}
.custom-chip1 .v-chip__close {
position: absolute;
top: 5px;
right: 0;
width: 24px;
}

/* .v-expansion-panel-header
{
    padding-bottom: 10px;;
} */
  
  /* .alternate-rows td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  } 
  .alternate-rows th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }*/
  
 
 
  .leave-quota  
  {
    /* min-width: 40px; text-align: center; */

  }

  .page-title-display
  {
    font-size: 18px;
  }

  .mx-table-date td
  {
    border-bottom: 0px!important;
  }

  