
  @media (min-width: 600px) {

    .theme--light.v-application
    {
      background-color: #f4f5fa;

    }
     .container
     {
      max-width: 100%!important;
      /* padding-left:70px; */
     }
     .deafult-layout
     {
      padding-left:70px;
     }
 
  .v-application .elevation-1
  {
    box-shadow:none!important; 
  }

    nav
  {
   
    top: 64px!important; 
    width:auto!important;
 
  }
 
  header
  {
    left:0px!important;
  } 
  .mobile-panel-container {
    display: flex;
    flex-direction: row;
  }
  .login1
{
  width: 100%!important; position: absolute!important; top: 66%!important; left: 24%!important;
} 
.login2
{
  margin: 25px!important; width: 100%!important; height: 200px!important; position: relative!important;
}
.login3
{
  color: #fff; padding: 3rem !important
}  
}